<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div th:if="${usuario.id == null}">

<form method="post" th:action="@{/agregar}" th:object="${usuario}">
	<label for="nombre">Nombre: </label>
	<input type="text" name="nombre" th:field="*{nombre}" placeholder="nombre">
	
	<button type="submit">Guardar</button>
</form>

</div>

<div th:if="${usuario.id != null}">

<form method="post" th:action="@{/editar/{id}(id = ${usuario.id})}" th:object="${usuario}">
	<label for="nombre">Nombre: </label>
	<input type="text" name="nombre" th:field="*{nombre}" placeholder="nombre">
	
	<button type="submit">Editar</button>
</form>

</div>

</body>
</html>