<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<table>
	
	<thead>
		<tr>
		<th>ID: </th>
		<th>Nombre:</th> 
		<th>ACCIONES</th>
		</tr>
		
	</thead>
	<tbody>
	
	<tr th:each="usuario: ${usuarios}">
		<td th:text="${usuario.id}"></td>
		<td th:text="${usuario.nombre}"></td>
		<td> <a th:href="@{/editar/{id}(id = ${usuario.id})}"> Editar </a> <a th:href="@{/eliminar/{id}(id = ${usuario.id})}"> Eliminar</a> </td>
	</tr>
	
	
	</tbody>
	</table>
	
	
	<a th:href="@{/agregar}">Agregar</a>

</body>
</html>